exportPattern("^[[:alpha:]]+")
importFrom(bindata, rmvbin)
importFrom(fastGHQuad, gaussHermiteData)
importFrom(CompQuadForm, davies)
importFrom(stats, pchisq)
importFrom(ICSKAT, createInt)
importFrom(ICSKAT, make_IC_dmat)
importFrom("stats", "dbeta", "rnorm", "runif", "toeplitz")
importFrom("utils", "combn")
