exportPattern("^[[:alpha:]]+")
importFrom(bindata, rmvbin)
importFrom(fastGHQuad, gaussHermiteData)
importFrom(CompQuadForm, davies)
importFrom(stats, pchisq)
import(ICSKAT)
importFrom("stats", "dbeta", "rnorm", "runif", "toeplitz")
    importFrom("utils", "combn")
